body {
    background: linear-gradient(cornflowerblue,chocolate);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: white;

}


nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 2em;
}

nav li a{
    text-decoration: none;
    color: white;
}

th,td {
    border: 1px solid;
    text-align: center;

}
table {
    table-layout: auto;
    width: 70%;

}

th {
    background-color: lightsteelblue;

}